extends layout.pug

block content
  .heading.welcome
    h1 Log In
    if error
      h1 #{error}
  .contact-form
    form(method='POST')
      .form-group
        label(for='email') Email Address
        input.form-control#email(type='email' name='email' placeholder='you@example.com')
      .form-group
        label(for='password') Password
        input.form-control#password(type='password' name='password' placeholder='Enter your password')
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/register') Register
        input.btn.btn-success.btn-lg(type='submit' value='Login')
          
